body {
  margin: 0px;
  font-family: roboto, sans-serif;
}

.header {
	background-color: #1F2937;
    display: flex;
    align-items: center;
	justify-content: space-between;
/*	padding: 0 90px;*/
}

.links {
  display: flex;
/*  justify-content: flex-end;*/
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
  padding: 10px 20px;
  align-self: flex-start;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #F9FAF8;
  padding: 10px 20px;
}

.main-img {
	width: 440px;
	height: 330px;
	flex: 0 0 auto;
	margin-left: 20px;
}

.main{
	background-color: #1F2937;
	display: flex;
	justify-content: center;
	padding: 90px;
}

.main-words {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 600px;
}

.main-title {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin: 0 10px 10px 0;
}

.sec-text {
	font-size: 18px;
	color: #E5E7EB;
	margin: 0 10px 10px 0;
}

button {
	color: #E5E7EB;
	background-color: #3882F6;
	max-width: 100px;
	border: none;
	border-radius: 8px;
}

.button {
	flex: 0 1 30px;
	margin: 0 10px 10px 0;
}

.info {
	display: flex;
	justify-content: center;
	gap: 60px;
}

.info-header {
	font-size: 36px;
	font-weight: 900;
	color: #1F2937;
	display: flex;
	justify-content: center;
	padding: 30px;
}


.pic {
	width: 150px;
}

.sub {
	max-width: 150px;
	margin-bottom: 50px;
}

.quote {
  background-color: #E5E7EB;
}

.qtext {
	font-weight: lighter;
	color: #1F2937;
	font-size: 36px;
	font-style: italic;
	max-width: 600px;
	align-self: center;
}

.author{
	color: #1F2937;
	font-size: 18px;
	font-weight: 600;
	align-self: center;
	padding-left: 600px;
}

.quote {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 90px;
}

.call {
	background-color: #3882F6;
	color: #E5E7EB;
	margin: 100px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	border: 1px solid #3882F6;
    border-radius: 20px;
}

.callmain {
	font-weight: 600;
	font-size: 24px;
}

.callwords {padding: 60px;}

.button2 {
  border: solid;
  flex: 1 0 30px;
  max-width: 100px;
  min-width: 100px;
  padding: 5px;
  margin-right: 10px;
}

.footer {
	background-color: #1F2937;
	color: #F9FAF8;
	display: flex;
	justify-content: center;
	padding: 40px;
	font-size: 18px;
}

